.buttonContainer {
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 1em;
  color:#8a8a8a;
  .button {
    width: 250px;
    border-radius: 15px;
    color: white;
    background-color: #3b5dc4;;
    height: 40px;
    display: grid;
    place-items: center;
    cursor: pointer;
  }
}
